.ProfileCard{
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    overflow-x: clip;
    background-color: var(--cardColor);
    box-shadow: var(--profileShadow);
    width: 100%;
    box-sizing: border-box;
}

.ProfileImages{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ProfileImages > img:nth-of-type(1){
    width: 100%;
    max-height: 10rem;
    object-fit: cover;
}

.ProfileImages > img:nth-of-type(2){
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    position: absolute;
    bottom: -3.25rem;
    box-shadow: var(--profileShadow);
    border: 4px solid var(--cardColor);
    object-fit: cover;
}

.ProfileName{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5rem;
    gap: 5px;
}

.ProfileName > span:nth-of-type(1){
    font-weight: 800;
    font-size: 1.1rem;
}

.ProfileName > span:nth-of-type(2){
    font-size: 0.85rem;
    color: var(--gray);
}

.followStatus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    padding: 0 1rem;
}

.followStatus > hr{
    width: 100%;
    border: 0.5px solid var(--hrColor);
    opacity: 0.5;
}

.followStatus > div {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.follow{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
}

.follow > span:nth-of-type(1) {
    font-weight: 800;
    font-size: 1rem;
}

.follow > span:nth-of-type(2){
    color: var(--gray);
    font-size: 12px;
}

.vl{
    height: 2.5rem;
    border-left: 1.5px solid var(--hrColor);
    opacity: 0.5;
}

.ProfileCard > span {
    font-weight: bold;
    color: var(--orange);
    align-self: center;
    margin-bottom: 1.2rem;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.ProfileCard > span:hover {
    letter-spacing: 1px;
}